.multi-select .arrow {
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    float: right;
    font-size: 12px;
}

.multi-select .options.show {
    display: block;
}

.multi-select .options {
    background-color: #fff;
    position: absolute;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /*width: calc( 100% - 2px);*/
    width: inherit;
    padding: 0;
    display: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.options li {
    display: block;
    font-size: 16px;
}

.options li .option-list {
    cursor: default;
    margin-bottom: 2px;
    text-transform: capitalize;
    /*border-bottom: solid 2px #fff;*/
    padding: 2px 5px;
}

.multi-select .bg-color-blue {
    background-color: cornflowerblue;
    color: #fff;
}

.multi-select .selected-options {
    vertical-align: middle;
    height: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: table-cell;
    padding: 0 0 0 10px;
}

.multi-select .selected-options .selected-options-badges-list {
    font-weight: 400;
    margin: 0;
    text-align: left;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    width: 256px;
    white-space: nowrap;
    overflow: hidden;
}

.multi-select .selected-options .selected-options-badges:after {
    content: '×';
    cursor: pointer;
    margin-left: 5px;
    vertical-align: middle;
}

.multi-select {
    background-color: #fff;
    border-radius: 4px;
    width: 290px;
    outline: none;
    display: inline-block;
    height: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.multi-select .selected-options-badges {
    text-transform: capitalize;
    font-size: 14px;
    border-radius: 2px;
    padding: 0 5px;
    margin: 0 5px 0 0;
    border: solid 1px #ddd;
    display: inline-block;
}